
@model Vidly_Movie_Store.Models.Customer
@{
    Page.Title = "Customer details";
    //Layout = "Your Layout Page goes here";
}

<div>
    <h1>@Model.Name</h1>
    <ul>
        <li>
            Membership Type: @Model.MembershipType.Name
        </li>
        @if (Model.Birthdate.HasValue)
        {
            <li>
                Birthdate: @Model.Birthdate.Value.ToShortDateString()
            </li>
        }
    </ul>
</div>
